{% extends "_layouts/main" %}

{% block main %}

    <main id="skip-header-content" role="main">

        <section class="theme-primary">

            <div class="container medium text-align-center margin-y-5">

                <h1 class="banner-headline">
                    Get Help Now
                </h1>

                <div class="margin-y-4">

                    <div class="grid grid--gap-3 grid--cells-fill--md justify-content-center">

                        <div class="grid__cell">

                            <div class="card theme-white rounded box-shadow-3">

                                <div class="card__body">
                                    <h2 class="h5">Time to Quit?</h2>
                                    <p>
                                        If you can't stop drinking and need support, you are not alone. Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit.
                                    </p>
                                </div>

                                <div class="card__foot border-top">
                                    <a class="btn theme-secondary display-block rounded" href="#1">Find A Meeting</a>
                                </div>

                            </div>
                            <!-- .card -->

                        </div>
                        <!-- .grid__cell -->

                        <div class="grid__cell">

                            <div class="card theme-white rounded box-shadow-3">

                                <div class="card__body">
                                    <h2 class="h5">What is AA?</h2>
                                    <p>
                                        If you can't stop drinking and need help, you are not alone. Lorem ipsum dolor
                                        sit amet consectetur
                                        adipisicing elit.
                                    </p>
                                </div>

                                <div class="card__foot border-top">
                                    <a class="btn theme-secondary display-block rounded" href="#1">Learn About AA</a>
                                </div>
                            </div>
                            <!-- .card -->

                        </div>
                        <!-- .grid__cell -->

                    </div>
                    <!-- .grid -->

                </div>

            </div>
            <!-- .container -->

        </section>
        <!-- backdrop -->

        <section class="theme-light">

            {% set currentDay = d|date('l') %}

            <div class="container narrow medium--md margin-y-5">

                <header class="text-align-center">
                    <h2>{{ currentDay }}'s Meetings</h2>
                </header>

                <div class="theme-white margin-y-4 box-shadow-1 rounded">

                    <table class="table table--stack--md font-size-md" id="sigs-daily-meetings">

                        <caption id="table-caption-01" class="screen-reader-only">
                            Staten Island Meetings Today
                        </caption>

                        <thead>

                            <tr>
                                <th scope="col" style="width: 20%;">Time</th>
                                <th scope="col" style="width: 30%;">Name</th>
                                <th scope="col" style="width: 30%;">Address</th>
                                <th scope="col" style="width: 20%;">
                                    <span class="screen-reader-only">Action</span>
                                </th>
                            </tr>

                        </thead>

                        <tbody>

                            {# Create an entry query with the 'section' #}
                            {% set myEntryQuery = craft.entries().section('meetings') %}

                            {# Fetch the entries #}
                            {% set entries = myEntryQuery.meetingWeekday([currentDay]).all() %}

                            {# Display the entries #}
                            {% for entry in entries %}
                            
                            <tr>
                                <td><strong>{{ entry.meetingStartTime }}</strong></td>
                                <td>{{ entry.meetingName }}</td>
                                <td>
                                   <span>{{ entry.locationStreetAddress }}</span>
                                   <span>Staten Island, NY</span>
                                   <span>{{ entry.locationZipCode }}</span>
                                </td>
                                <td class="text-align-right font-size-sm">
                                    <a href="#1"><strong>Details</strong></a>
                                </td>
                            </tr>
                            
                            {% endfor %}

                        </tbody>

                        <tfoot>
                            <!--  -->
                        </tfoot>

                    </table>

                </div>

                <div class="text-align-center">
                    <a class="btn theme-dark rounded" href="/meetings">All Meetings</a>
                </div>

            </div>
            <!-- .container -->

        </section>

        <section>

            <div class="container medium text-align-center margin-y-5">

                <h2>
                    Our Mission
                </h2>

                <div class="text-align-left font-size-lg margin-y-3">

                    <div class="grid grid--gap-3 grid--cells-6--md">

                        <div class="grid__cell">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse tempora nobis quam
                                molestiae culpa, totam enim
                                saepe adipisci sint nihil voluptatum perspiciatis in possimus illum reiciendis.
                            </p>
                        </div>
                        <!-- .grid__cell -->

                        <div class="grid__cell">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse tempora nobis quam
                                molestiae culpa, totam enim saepe adipisci sint nihil voluptatum perspiciatis in
                                possimus illum reiciendis.
                            </p>
                        </div>
                        <!-- .grid__cell -->

                    </div>
                    <!-- .grid -->

                </div>

            </div>
            <!-- .container -->

        </section>

    </main>

{% endblock %}
